# ignore just our virtualenv & envfile
.venv/
.env
*.json
*.png
*.webp
__pycache__/
.cache/
# ignore all our test files
*poster.yml

# apple ai models
coreml-stable-diffusion-v1-5/
ml-stable-diffusion/
ollama/