# 🐍 Python virtual environment & local secrets
.venv/
.env
__pycache__/
.cache/

# 🧪 Ignore generated/test files
*.json
*.webp
*.png
*poster.yml

# 🚫 Ignore local model folders
ml-stable-diffusion/
coreml-stable-diffusion-v1-5/
.github/coreml-stable-diffusion-v1-5/